@keyframes copyNotification {
  0% {
    opacity: 0;
    transform: translate(1rem, -50%) scale(0.25);
  }
  5% {
    opacity: 1;
    transform: translate(-75%, -50%) scale(1);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 120em) {
  html {
    font-size: 70%;
  }
}

body {
  min-height: 100vh;
  background-color: #18171f;
  color: #e6e5ea;
  padding: 3.2rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 48em) {
  body {
    align-items: flex-start;
  }
}

h1,
h2,
h3,
p {
  word-wrap: break-word;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
option {
  font: inherit;
}

ul[class] {
  list-style: none;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
body {
  font-family: "JetBrainsMono";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.277777;
}
@media screen and (max-width: 48em) {
  body {
    font-size: 1.6rem;
  }
}

.primary-heading {
  font-size: 2.4rem;
  color: #817d92;
  text-align: center;
}
@media screen and (max-width: 48em) {
  .primary-heading {
    font-size: 1.8rem;
  }
}

input[type=checkbox] {
  appearance: none;
  display: grid;
  place-content: center;
  width: 1.15em;
  height: 1.15em;
  border: 2px solid #e6e5ea;
  background-color: #18171f;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
}
input[type=checkbox]:checked {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}
input[type=checkbox]:checked::before {
  background-image: url("../assets/images/icon-check.svg");
  background-size: cover;
}
input[type=checkbox]:hover, input[type=checkbox]:active, input[type=checkbox]:focus {
  border-color: #a4ffaf;
}

input[type=range] {
  appearance: none;
  width: 100%;
  height: 0.8rem;
  background-color: #18171f;
  cursor: pointer;
  --fill-percent: 50%;
}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #e6e5ea;
  border: 1px solid #e6e5ea;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-25%);
  transition: all 0.2s;
}
input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-webkit-slider-thumb:focus {
  background-color: #18171f;
  border: 2px solid #a4ffaf;
}
input[type=range]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  background: linear-gradient(to right, #a4ffaf 0%, #a4ffaf var(--fill-percent), transparent var(--fill-percent), transparent 100%);
}

label {
  cursor: pointer;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.form-group--slider {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 2.2rem;
  gap: 2.5rem;
}
.form-group--slider input[type=range] {
  grid-column: span 2;
}

.btn {
  width: 100%;
  padding: 1.6rem;
  background-color: #a4ffaf;
  color: #18171f;
  border: 1px solid #a4ffaf;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.btn svg {
  fill: #18171f;
  transition: 0.2s all ease-in-out;
}
.btn:hover, .btn:active .btn:focus {
  background-color: transparent;
  color: #a4ffaf;
}
.btn:hover svg, .btn:active .btn:focus svg {
  fill: #a4ffaf;
}

.password-generator {
  width: 100%;
  max-width: 54rem;
  display: grid;
  row-gap: 2.4rem;
}
.password-generator__password-container {
  position: relative;
  background-color: #24232c;
  padding: 1.6rem 3.2rem;
}
@media screen and (max-width: 48em) {
  .password-generator__password-container {
    padding: 1.6rem;
  }
}
.password-generator__password {
  color: inherit;
  font-size: 3.2rem;
  width: 75%;
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (max-width: 48em) {
  .password-generator__password {
    font-size: 2.4rem;
  }
}
.password-generator__copy-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  fill: #a4ffaf;
  transition: fill 0.2s ease-in-out;
  cursor: pointer;
}
.password-generator__copy-icon:hover, .password-generator__copy-icon:active {
  fill: #e6e5ea;
}
.password-generator__copied-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-75%, -50%);
  text-transform: uppercase;
  color: #a4ffaf;
  background-color: #24232c;
  z-index: 10;
  cursor: default;
  animation: copyNotification 2s ease-in-out forwards;
}
.password-generator__settings-container {
  padding: 2.4rem 3.2rem 3.2rem;
  background-color: #24232c;
  display: grid;
  row-gap: 2rem;
}
@media screen and (max-width: 48em) {
  .password-generator__settings-container {
    padding: 1.6rem;
  }
}
.password-generator__password-length {
  color: #a4ffaf;
  font-size: 3.2rem;
}
.password-generator__strength-states {
  padding: 2rem 3.2rem;
  background-color: #18171f;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: default;
}
.password-generator__strength-states p:first-child {
  color: #817d92;
}
@media screen and (max-width: 48em) {
  .password-generator__strength-states p:first-child {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 48em) {
  .password-generator__strength-states {
    padding: 1.6rem;
  }
}
.password-generator__strength-level {
  font-size: 2.4rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 48em) {
  .password-generator__strength-level {
    font-size: 1.8rem;
  }
}
.password-generator__strength-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
.password-generator__strength-boxes--level-0 .password-generator__strength-box:first-child {
  background-color: #f64a4a;
  border-color: #f64a4a;
}
.password-generator__strength-boxes--level-1 .password-generator__strength-box:nth-child(1), .password-generator__strength-boxes--level-1 .password-generator__strength-box:nth-child(2) {
  background-color: #fb7c58;
  border-color: #fb7c58;
}
.password-generator__strength-boxes--level-2 .password-generator__strength-box:nth-child(1), .password-generator__strength-boxes--level-2 .password-generator__strength-box:nth-child(2), .password-generator__strength-boxes--level-2 .password-generator__strength-box:nth-child(3) {
  background-color: #f8cd65;
  border-color: #f8cd65;
}
.password-generator__strength-boxes--level-3 .password-generator__strength-box:nth-child(1), .password-generator__strength-boxes--level-3 .password-generator__strength-box:nth-child(2), .password-generator__strength-boxes--level-3 .password-generator__strength-box:nth-child(3), .password-generator__strength-boxes--level-3 .password-generator__strength-box:nth-child(4) {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}
.password-generator__strength-box {
  display: inline-block;
  height: 2.8rem;
  width: 1rem;
  border: 2px solid #e6e5ea;
}

/*# sourceMappingURL=style.css.map */
