*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: $color-neutral-800;
    color: $color-neutral-200;
    padding: 3.2rem 1.6rem;
}

h1,
h2,
h3,
p {
    word-wrap: break-word;
}

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
option {
    font: inherit;
}

ul[class] {
    list-style: none;
}
