*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media screen and (min-width: 120em) {
        font-size: 70%;
    }
}

body {
    min-height: 100vh;
    background-color: $color-neutral-800;
    color: $color-neutral-200;
    padding: 3.2rem 1.6rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main {
    margin-top: 13.3rem;

    @media screen and (max-width: 48em) {
        margin-top: 0;
    }
}

h1,
h2,
h3,
p {
    word-wrap: break-word;
}

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
option {
    font: inherit;
}

ul[class] {
    list-style: none;
}
