input[type='checkbox'] {
    appearance: none;
    display: grid;
    place-content: center;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid $color-neutral-200;

    background-color: $color-neutral-800;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
    }

    &:checked {
        background-color: $color-primary-400;
        border-color: $color-primary-400;
    }

    &:checked::before {
        background-image: url('../assets/images/icon-check.svg');
        background-size: cover;
    }

    &:hover,
    &:active,
    &:focus {
        border-color: $color-primary-400;
    }
}

@mixin slider-thumb {
    appearance: none;
    width: 2.8rem;
    height: 2.8rem;
    background-color: $color-neutral-200;
    border: 1px solid $color-neutral-200;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;

    &:hover,
    &:focus {
        background-color: $color-neutral-800;
        border: 2px solid $color-primary-400;
    }

    &:active {
        cursor: grabbing;
    }
}

@mixin slider-track {
    width: 100%;
    height: 1rem;
    background: linear-gradient(to right, $color-primary-400 0%, $color-primary-400 var(--fill-percent), transparent var(--fill-percent), transparent 100%);
}

input[type='range'] {
    appearance: none;
    width: 100%;
    height: 0.8rem;
    background-color: $color-neutral-800;
    cursor: pointer;

    --fill-percent: 50%;

    &::-webkit-slider-thumb {
        @include slider-thumb;
        margin-top: -1rem;
    }
    &::-moz-range-thumb {
        @include slider-thumb;
    }
    &::-ms-thumb {
        @include slider-thumb;
    }

    &::-webkit-slider-runnable-track {
        @include slider-track;
    }

    &::-moz-range-track {
        @include slider-track;
    }
}

label {
    cursor: pointer;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    &--slider {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-bottom: 2.2rem;

        input[type='range'] {
            grid-column: span 2;
        }
    }
}

.btn {
    width: 100%;
    height: 6.5rem;
    background-color: $color-primary-400;
    color: $color-neutral-800;
    border: 2px solid $color-primary-400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    svg {
        fill: $color-neutral-800;
        transition: 0.2s all ease-in-out;
    }

    &:hover,
    &:active &:focus {
        background-color: transparent;
        border: 2px solid $color-primary-400;
        color: $color-primary-400;

        svg {
            fill: $color-primary-400;
        }
    }
}
