.password-generator {
    max-width: 54rem;
    display: grid;
    row-gap: 1.6rem;

    &__password-container {
        padding: 1.6rem;
        background-color: $color-neutral-600;
    }

    &__settings-container {
        padding: 1.6rem;
        background-color: $color-neutral-600;

        display: grid;
        row-gap: 1.6rem;
    }

    &__strength-states {
        padding: 1.6rem;
        background-color: $color-neutral-800;
    }
}
