@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

body {
    font-family: $ff-primary;
    font-weight: $fw-regular;
    font-size: $fs-400;
    line-height: 1.277777;

    @media screen and (max-width: 48em) {
        font-size: $fs-300;
    }
}

.primary-heading {
    font-size: $fs-600;
    color: $color-neutral-400;
    text-align: center;

    @media screen and (max-width: 48em) {
        font-size: $fs-400;
    }
}
