// Colors
$color-primary-400: #a4ffaf;
$color-red: #f64a4a;
$color-orange: #fb7c58;
$color-yellow: #f8cd65;

$color-neutral-200: #e6e5ea;
$color-neutral-400: #817d92;
$color-neutral-600: #24232c;
$color-neutral-800: #18171f;

// Typography
$ff-primary: 'JetBrainsMono';
$fw-regular: 700;
$fs-400: 1.8rem;
$fs-600: 2.4rem;
$fs-800: 3.2rem;
